#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 200px;
    background-color: #f5f5f5;
}

#footer span {
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-stats {
    font-size: 10px;
}

.responded {
    border: 6px solid #32a1ce;
}
.voted {
    border: 6px solid green;
}

.avatarDiv {
    text-align: center;
}

#root {
    text-align: center;
}

.avatar {
    border-radius: 50px
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}


