@keyframes wiggle {
    25% { transform: rotate(3deg); }
   75% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}
.wiggle {
    display: inline-block;
    animation: wiggle 0.75s infinite;
}
#quitGame{
    margin-right: 5px;
}
.upperCase {
    text-transform: uppercase;
}
.score {
    font-size: 14px;
}


#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 150px;
    background-color: #f5f5f5;
}

#footer span {
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-stats {
    font-size: 10px;
}

.card-header{
    font-size: 9px
}
.card-footer{
    font-size: 9px
}
.card-columns  {
    column-count: 3 !important ;
}

#question-sub-content {
    padding-top: 15px;
}
nav {
    margin-bottom: 15px;
}

.responded {
    border: 6px solid #5bc0de;
}
.voted {
    border: 6px solid #5cb85c;
}

.avatarDiv {
    text-align: center;
}

#root {
    text-align: center;
}

.avatar {
    border-radius: 50px
}

.userAnswer {
    width: 70%;
}

.btn-vote {
    width: 70%;
    margin-bottom: 5px
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 150px;/* Margin bottom by footer height */
}


